  .navbar .btn {
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.navbar .btn:hover {
  background-color: #dc3545;
  color: white !important;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(220, 53, 69, 0.6);
}

.navbar .active {
  background-color: #dc3545 !important;
  color: white !important;
  box-shadow: 0 0 15px rgba(220, 53, 69, 0.8);
}
